
@{
    ViewData["Title"] = "EtherWallet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EtherWallet</h2>
<h1>BITSCHOOL</h1>
<h2>TO PARTICIPATE</h2>


<p>DO NOT send FUNDS FROM An EXCHANGE- This may result in loss of your funds</p>
<p>We recommend using ERC20 compatible wallet such as; MyEtherWallet (recommended), MetaMask, Mist wallets</p>


<p>We recommend MyEtherWallet as it does not require you to download the entire Ether blockchain in order for you to support Bitschool.</p>

<div>
<p> Creating a MyEtherWallet</p>


<p> 1.) Navigate to https://www.myetherwallet.com/ you will be greeted by the landing page</p>


<img src="~/Images/ICOGuide/MyEtherWallet/MyEtherLandingPage.png" alt="My ether wallet landing screed" class="img-responsive img-rounded">


<p>
    MYETHERWALLET LLC [US] certificate is there.
</p>
<img src="~/Images/ICOGuide/MyEtherWallet/MYEthercerticateAddress.png" alt="picture highlighting ssl certicate "class="img-responsive img-rounded"/>





<P>2.) Go to new wallet tab</P>
<img src="~/Images/ICOGuide/MyEtherWallet/MyEtherNewWalletTab.png" alt="picture of new wallet creation screen" class="img-responsive img-rounded"/>

<p> 3.) Create a strong password</p>
<img src="~/Images/ICOGuide/MyEtherWallet/StrongPassword.png" alt="picture of strong password being created" class="img-responsive img-rounded"/>
<p> This password will be used to access your wallet:</p>
<p> your password is strong you are advised to: use a combination of upper and lower-case letters, numbers and symbols (e.g., '#','*', '$', etc)</p>


<p> 4.) save your Keystore file</p>
<img src="~/Images/ICOGuide/MyEtherWallet/keystore.png" alt="picture of keystore file download screen" class="img-responsive img-rounded"/>

<p> This file contains your private and public keys and is required every time you want to access your account.</p>




<P>
    NOTE: you won’t be able to access your account without this file and the password from the previous step. Losing either one of them is equivalent to losing all ETH and <insert token name>
        stored in your account
</P>

<p> 5.) save private key(optional)</p>
<p>
    At this point either print or save your private key, if you chose to save ensure it is located offline in a safe location
    If you would like to make this account accessible by other Ethereum wallets, you can export and backup your private key.
</p>
<p>
    NOTE: You should never share your private keys with anyone else. If your wallet address is the equivalent of your bank account number,
    then your private wallet key is your PIN. If anyone obtains your private key, they will have access to all of your funds.
</p>


<p>6.) Unlock your wallet public address.</p>
<img src="~/Images/ICOGuide/MyEtherWallet/UnlockWallet.png" alt=" picture of unlock your wallet screen"class="img-responsive img-rounded"/>

        Unlock your wallet and get your public address by following the instructions
        Select Keystore / JSON File and select the Keystone file you downloaded in step 4
        Input your password you set in step 3 and click on the unlock button to unlock it.

<p>7.) Save your public address</p>
<img src="~/Images/ICOGuide/MyEtherWallet/YourAddress.png" alt="picture highlighting where to find your wallet address" class="img-responsive img-rounded"/>
        Note: You will need to provide this public address during registration for the Bitschool token sale & to receive ETH to your wallet.
        You will need to provide this public address to transfer ETH to your wallet.
        Do not lose your password and the keystore file, as you will need to use them in the Bitschool token sale.

</div>


<div>
    <h3>Alternative method metamask</h3>
    <p> We will be using the chrome browser in this method</p>


    <p> 1)navigate to https://metamask.io/ and click get the chrome extension</p>
    <img src="~/Images/ICOGuide/Metamask/Metamask.png" alt="MetaMask home screen with get Chrome extention highlighted " class="img-responsive img-rounded"/>


    <p>2.) chrome webstore opens click ADD TO CHROME</p>
    <img src="~/Images/ICOGuide/Metamask/AddToChrome.png" alt="Chrome webstore with add to Chrome highlighted on metamask extension" class="img-responsive img-rounded"/>

    <p>3) pop up opens click ADD EXTENSION</p>
    <img src="~/Images/ICOGuide/Metamask/AddExten.png" alt="popup asking to confirm install" class="img-responsive img-rounded" />
    <p>4) Click the extension in chrome browser</p>
    <img src="~/Images/ICOGuide/Metamask/ClickExtension.png" alt="Open chrome window showing location of freshly installed extension" class="img-responsive img-rounded"/>
    <p> Pop-up will open with terms of use – accept these.</p>

    <p> 5) Enter a SECURE PASSWORD twice and click create</p>
    <img src="~/Images/ICOGuide/Metamask/SecurePW.png" alt="window asking for a new secure password" class="img-responsive img-rounded"/>
    <p> 6) Copy the words that appear in the pop-up and save them to a secure location</p>
    <img src="~/Images/ICOGuide/Metamask/restoreWords.png" alt="window showing your restore words" class="img-responsive img-rounded"/>
    <p>   7) A wallet names account one is created for you as default</p>
    <img src="~/Images/ICOGuide/Metamask/Account1.png" alt="window showing wallet with default name of account1" class="img-responsive img-rounded"/>
</div>
<div>
    <h3>  Alternative Method Mist</h3>
    <p>In this tutorial we will be downloading and installing Ethereum  MIST for windows, However, a range of OS are supported</p>


    <p>
        Warning this is an offline wallet and as such requires a large hard drive as you will download the block chain in its entirety
        System Requirements
        The Mist wallet requires 200 MB
        The Blockchain requires 30 GB+
    </p>




    <p>1) navigate to https://github.com/ethereum/mist/releases </p>
    <img src="~/Images/ICOGuide/MISTinstalls.png" alt="Mist github repo" class="img-responsive img-rounded"/>
    <p>2) confirm and install and run the app</p>
    <img src="~/Images/ICOGuide/MIST/InstallWallet.png" alt="install window for windows application" class="img-responsive img-rounded"/>
    <p>3) Select use main network</p>
    <img src="~/Images/ICOGuide/MIST/UseMainNetwork.png" alt="select use main network" class="img-responsive img-rounded"/>
    <p>4) click skip on “do you have a wallet file?”</p>
    <img src="~/Images/ICOGuide/MIST/DoYouHaveAWalletFile.png" alt=" do you have a wallet screen" class="img-responsive img-rounded"/>
    <p>5) Pick a SECURE password and enter it twice</p>
    <img src="~/Images/ICOGuide/MIST/SecurePW.png" alt="password creation screen" class="img-responsive img-rounded"/>
    <p>6) Write down your main address, it can be located here.</p>
    <img src="~/Images/ICOGuide/MIST/MainAddress.png" alt="screen showing main address" class="img-responsive img-rounded"/>
    <p>7) wait while the blockchain downloads to your machine</p>
    <img src="~/Images/ICOGuide/MIST/WaitForDownLoad.png" alt="wait for download of blockchain screen" class="img-responsive img-rounded"/>
    <p>8)Here is the account overview screen use it to send ETH to receive ETH you need you main address found in part 6</p>
    <img src="~/Images/ICOGuide/MIST/AccountScreen.png" alt="account overview screen" class="img-responsive img-rounded"/>
    <p>
        Note: You will need to provide this public address during registration for the Bitschool token sale & to receive ETH to your wallet.
        You will need to provide this public address to transfer ETH to your wallet.
        Do not lose your password and the keystore file, as you will need to use them in the Bitschool token sale.
    </p>
</div>