
@{
    ViewData["Title"] = "HowToBuyEther";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Buying Ether</h2>
<div>
<h3>Coinbase</h3>
<p>1)navigate to https://www.coinbase.com/ and click signup button</p>
    <img src="~/Images/ICOGuide/Coinbase/CoinbaseHome.png" alt="Coinbase Homepage"/>
<p>2)  fill in your details for account</p>
    <img src="~/images/ICOGuide/Coinbase/Coinbaseregister.png" alt="Coinbase account registration screen"/>
  <p>
     You will get sent a link and asked to verify your identity follow the on-screen instructions.
     once verified you will be taken to the user page
</p>

<p>3) Once on the user account page select buy/sell</p>                   
    <img src="~/images/ICOGuide/Coinbase/UserAccountPage.png" alt="Coinbase user dashboard with buy/sell highlighted"/>

<p>4)Once on buy /sell page select add payment method</p>
   
<img src="~/images/ICOGuide/Coinbase/BuySell.png" alt="Coinbase buy/screen with add payment method highlighted " />
<p>5)Pop up appears showing possible ways to buy Ether (We recommend using bank transfer)</p>
    <img src="~/images/ICOGuide/Coinbase/PleaseSelectAddAccount.png" alt="image of pop-up asking form of account for funding" />

<p>6)Follow the onscreen instructions</p>
    
<p>7) Once purchase is made your balance will be visible in the account screen</p>
    <img src="~/images/ICOGuide/Coinbase/accountScreen.png" alt="Coinbase account screen showing user balances"/>
    <p>>8) Send the acquired Ether to your ERC20 compatible wallet set up you set up earlier</p>
    <img src="~/images/ICOGuide/Coinbase/accountScreenSendEther.png" alt="Coinbase account screen with send ether button highlighted" />
</div>

<div>
<h3>Kraken</h3>
<p>kraken is a easy to use platform to purchase cryptocurrency</p>
<p>1) Navigate to https://www.kraken.com/ and select sign up</p>
    <img src="~/images/ICOGuide/Kraken/SelectSignUp.png" alt="Kraken homepage with signup highlighted"/>

<p>2) Enter your details and agree to their terms and conditions</p>
    <img src="~/images/ICOGuide/Kraken/EnterDetails.png" alt="Kraken account creation screen"/>
<p>You will then be sent you an activation code to your email.</p>

<p>3) Enter the activation code in the space provided to confirm your email</p>
    <img src="~/images/ICOGuide/Kraken/ActivationCode.png" alt="Activation code screen" />
<p>4) now select get verified from the user interface</p>
    <img src="~/images/ICOGuide/Kraken/SelectGetVerified.png" alt="kraken overview screen with get verifeid highlight" />
<p>5) At this stage you will need to select the appropriate tier level for yourself</p>

<P>NOTE : you will need to select at least tier 2 to deposit funds to your account.</P>


<p>6) provide proof of identity</p>
    <img src="~/images/ICOGuide/Kraken/Verify.png" alt="picture showing form to veirfy information with kraken " />
<p>Note this can take 2-3 days to verify your identity</p>

<p>7)Funding is easy from the funding screen select deposit</p>
    <img src="~/images/ICOGuide/Kraken/Funding.png" alt="kraken funding page with deposit button highlighted" />
<p>8) Once your account is funded, select Trade and New Order to place orders.</p>
    <img src="~/images/ICOGuide/Kraken/NewOrder.png" alt="kraken crypto ordering screen"/>
    <p>
        Note that the currency pair you select plays a role in determining what is bought. Select the BUY button and choose a currency pair x/y, then currency x will be bought and currency y sold..
    </p>
<p>9) Complete form with desired amount and press buy x with y</p>
    <img src="~/images/ICOGuide/Kraken/NewOrder.png" alt="kraken crypto ordering screen" />
<p>10) Send the acquired Ether to your ERC20 compatible wallet set up you set up earlier</p>
    <img src="~/images/ICOGuide/Kraken/Transfer1.png" alt="Transfer to wallet screen"/>
    <p>
        Go to funding select withdraw and click on ETH
        Click Add address; put in a description and your wallet address save it and press the back button
        Select the address you just created from the drop down, enter the amount you wish to send
        Then click review withdrawal
        Confirm withdrawal

        Once the Initiated status changes to Success you can access your Ether wallet and see the balance.
    </p>
</div>

<div class="row">
    <div class="col-sm-8">
        MyEtherWallet/MyEtherLandingPage.png" class="img-responsive img-rounded">
    </div>
    <div class="col-sm-4">
        <p>DO NOT send FUNDS FROM An EXCHANGE- This may result in loss of your funds</p>
        <p>We recommend using ERC20 compatible wallet such as; MyEtherWallet (recommended), MetaMask, Mist wallets</p>


        <p>We recommend MyEtherWallet as it does not require you to download the entire Ether blockchain in order for you to support Bitschool.</p>


        <p> Creating a MyEtherWallet</p>


        <p> 1.) Navigate to https://www.myetherwallet.com/ you will be greeted by the landing page</p>


    </div>
</div>